RewriteEngine On

# Turn off directory listing (Security)

Options -Indexes

# Block access to .env or hidden files

<FilesMatch "^\.">
Order allow,deny
Deny from all
</FilesMatch>

# Custom Error Pages

ErrorDocument 403 "/hr-vault/public/error.php?code=403"
ErrorDocument 404 "/hr-vault/public/error.php?code=404"
ErrorDocument 500 "/hr-vault/public/error.php?code=500"
